include ../mixins/menu-productsCategory.pug

header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo 
                    a(href="/")
                        img(src="https://cdn.haitrieu.com/wp-content/uploads/2022/07/Thanh-pho-Ho-Chi-Minh-1.png", alt="",width="100px")
            
            .col-3 
                form(action="/search", method="get")
                    .input-group
                        input(type="text" name="keywork" class="form-control")
                        .input-group-append
                            input(type="submit" class="btn btn-primary" value="Search")
                     
            .col-6
                .inner-menu 
                    ul.d-flex.flex-wrap
                        li 
                            a(href="/") Trang chủ
                        li.menu-products
                            a(href="/products" class="product--nav") Sản phẩm 
                            +menuProductCategory(menuProductsCategory)
                        li 
                            a(href="/blog") Tạp chí nước hoa 
                            //- ul 
                            //-     li 
                            //-         a(href="") Phu kien nam 
                            //-         ul 
                            //-             li 
                            //-                 a(href="") dong ho nam  
                            //-     li 
                            //-         a(href="") Phu kien nu 
                            //-         ul 
                            //-             li 
                            //-                 a(href="") Dong ho nu 
                            //-             li 
                            //-                 a(href="") Vay nu    

            