include ../mixins/menu-productsCategory.pug

header.header
    .container
        .row.align-items-center
            .col-1
                .inner-logo 
                    a(href="/")
                        img(src="https://cdn.haitrieu.com/wp-content/uploads/2022/07/Thanh-pho-Ho-Chi-Minh-1.png", alt="",width="100px")
            
            .col-3
                form(action="/search", method="get")
                    .input-group
                        input(type="text" name="keywork" class="form-control")
                        .input-group-append
                            input(type="submit" class="btn btn-primary" value="Search")
                     
            .col-5
                .inner-menu 
                    ul.d-flex.flex-wrap
                        li 
                            a(href="/") Trang chủ
                        li.menu-products
                            a(href="/products" class="product--nav") Sản phẩm 
                            +menuProductCategory(menuProductsCategory)
                        li 
                            a(href="/blog") Tạp chí nước hoa
                        
            .col-3 
                .row
                    .col-3
                        a(href="/cart") 
                            - if (cart)
                                div.cart Giỏ hàng(#{cart.totalQuantity})
                            -else
                                div.cart Giỏ hàng()
                    .col-9
                        - if (customerInfo)
                            .row 
                                .col-6  
                                    a(href="/customer") #{customerInfo.fullName} 
                                .col-6
                                    a(href="/customer/logout" class="btn btn-danger") Đăng xuất 
                        - else
                            .row
                                .col-4 
                                    a(href="/customer/login" class="btn btn-primary") Đăng nhập 
                                .col-4
                                    a(href="/customer/register" class="btn btn-primary") Đăng ký
                                .col-4
                                    a(href="/customer/forgotPassword" class="btn btn-primary") Quên mật khẩu

            