ul(class="row list-control-users text-center my-3")
    li.col
        a(href="/users/not-friends" class="btn btn-primary") Danh sách người dùng
    li.col 
        a(href="" class="btn btn-primary") Danh sách bạn bè
    li.col 
        a(href="/users/Request-Add-Friends" class="btn btn-primary") Lời mời đã gửi
    li.col 
        a(href="" class="btn btn-primary") Lời mời kết bạn
