*{
    list-style: none;
}

.body{

}
.sider{
    background-color: black;
    color: white;

}
.header{
    background-color: black;
    color: white;
}
.messages-success{
    width: 300px;
    position: fixed;
    z-index: 1000;
    right: 30px;
}
@keyframes alert-hidden{
    from {
        right: 30px;
    }
    to{
        right: -200%;
    }

}
.alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}