extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
    .container.my-3 
        .row 
            .col-12
                +box-head("Danh sách sản phẩm")
    .container
        .row 
            each item in products 
                .col-4.mb-3
                    .product-item.py-3.px-3.card
                        .inner-image.card-img-top
                            a(href="")
                                img(src=item.thumbnail, alt="")  
                        .inner-content.card-body 
                            .inner-title.card-title DiorSauvageEDP
                            .inner-price-new.card-text #{item.price} $
                            .inner-price-old.card-text 100$
                            //- .inner-status.card-text #{item.description}
                            .inner-add-cart.text-center
                                button.btn.btn-primary.btn-add Thêm vào giỏ
                    