extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/interface-products.pug
include ../../../admin/mixins/messages-success.pug

block main
    +messages-success(5000)
    .container.my-3
        include ../../partials/list-control-users.pug
    .container.my-3 
        .row 
            .col-12
                +box-head("Danh sách người dùng")
    .container.my-3 
        .row 
            each user in users
                .col-4 
                    div(class="box-user")
                        div(class="avatar")
                            img(src="https://img.freepik.com/premium-vector/user-profile-icon-flat-style-member-avatar-vector-illustration-isolated-background-human-permission-sign-business-concept_157943-15752.jpg" width="100px" alt="")
                        div(class="user-info")
                            div(class="user-info-name my-2") #{user.fullName} 
                            div(class="user-info-button my-2")
                                button(class="btn btn-add-friend btn-sm btn-primary" id-user-add=user._id) Kết bạn
                                button(class="btn btn-cancel-friend btn-sm btn-secondary" id-user-cancel=user._id) Hủy
   
    script(src="/js/users.js")





