header.header 
    .container-fluid 
        .row.align-items-center 
            .col-3.px-3
                .inner-logo
                    h1 
                        a(href="/admin/dashboard") Admin

            .col-9.px-3.d-flex.flex-row-reverse
                .inner-find 
                    a(href="" class="text-decoration-none mx-3") #{user.fullName} 
                    a(href="/admin/auth/logout")
                        button(type="" class="btn btn-danger") Đăng xuất 
