header.header 
    .container-fluid 
        .row.align-items-center 
            .col-3.px-3
                .inner-logo
                    a(href="/admin/dashboard") Admin

            .col-9.px-3 
                .inner-find thanh tìm kiếm
