.col-3.sider.px-3 
    ul
        li
            a(href="/admin/dashboard") Dashboard
        li 
            a(href="/admin/products") Products 
        li 
            a(href="/admin/products/restores") Products deleted 
        li 
            a(href="/admin/products/create") Create product 
        li 
            a(href="/admin/products-category") Products Category 
        li 
            a(href="/admin/roles") Roles