.col-3.sider.px-3 
    ul  
        li
            a(href="/admin/dashboard") Dashboard
        - if (role.permissions.includes("products-view"))       
            li 
                a(href="/admin/products") Products
        - if (role.permissions.includes("products-category-view"))        
            li 
                a(href="/admin/products-category") Products Category
        - if (role.permissions.includes("roles-view"))
            li 
                a(href="/admin/roles") Roles
        - if (role.permissions.includes("users-view"))
            li 
                a(href="/admin/users") users
        li 
            a(href="/admin/blog") Blog
        