extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/interface-products.pug
include ../../../admin/mixins/messages-success.pug

block main
    +messages-success(5000)
    +messages-error(5000)
    .container.my-3 
        .row.justify-content-center
            .col-8
                form(action="/customer/createPasswordNew" method="POST" class="form-group border py-3 px-3")
                    h2.text-center.my-3 Xác nhận OTP
                    label(for="" class="form-group my-1") Password: 
                    input(type="password" name="password" class="form-control" value=email required placeholder="Nhập password....") 
                    label(for="" class="form-group my-1") RePassword: 
                    input(type="password" name="rePassword" class="form-control" required placeholder="Nhập lai password....") 
                    .text-center
                        input(type="submit" value="Đăng nhập" class="btn btn-primary my-3 form-control") 
           
    

